<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <a href="/">Home</a>
</header>
<body>

    <table>
        <tr>
            <th>Info</th>
            <th>Data</th>
        </tr>
          {% for key,value in data.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value[0]}}</td>
        </tr>
          {% endfor %}
    </table>
    <div>
        <img src="../static/img/death_per_country.jpg" alt="">
    </div>

</body>
</html>